@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
    --darkestgray:#181c22;
    --darkgray:#222831;
    --gray:#2c323b;
    --lightgray:#393E46;
    --redorange:#f97000;
    --orange:#ff8f00;
    --lightorange:#ffae00;
    --white:#F2F2F2;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: var(--lightgray); */
    background-image: linear-gradient(to bottom right ,#ffa600,var(--redorange));
    height: auto;
    width: calc(var(--vw, 1vw) * 100);
}
*{
    font-family: "Varela Round";
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    scroll-behavior: smooth;
}
/* 
--------------------------------------------------------------------------------------------
*/
#anchor-aboutme{
    width: 100%;
    height: 100px;
    z-index: 2;
}
.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: var(--darkgray);
    box-shadow: 0 4px 6px var(--redorange);
    z-index: 4;
}
.main-title{
    flex: 1 1 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem,3vw,3rem);
    text-transform: uppercase;
}
.anchor-links{
    flex: 1 3 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainlinks{
    font-size: clamp(0.9rem,1.6vw,2rem);
}
.linkborder{
    width: 0%;
    height: 3px;
    background-color: var(--redorange);
    transition: all 0.5s;
    margin: 0 auto;
}
a:hover .linkborder{
    width: 100%;
}
.menu-button{
    height: auto;
    width: auto;
    position: relative;
    display: none;
}
.hamburger-button{
    width: 45px;
    height: 45px;
    background-color: var(--darkestgray);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6px 0;
    position: relative;
}
.button-stripes{
    margin: auto;
    width: 60%;
    height: 4px;
    background-color: var(--orange);
}
.hamburger-button:hover #btnstripe1{
    display: none;
}
.hamburger-button:hover #btnstripe2{
    transform: rotate(45deg);
    position: absolute;
    top: 45%;
    left: 22%;
    transition: all 0.2s;
}
.hamburger-button:hover #btnstripe3{
    transform: rotate(-45deg);
    position: absolute;
    top: 45%;
    left: 22%;
    transition: all 0.2s;
}
.hamburger-button:hover + .dropdowncontent{
    display: grid;
}
.dropdowncontent:hover{
    display: grid;
}
.dropdowncontent{
    width: auto;
    height: auto;
    border: 2px solid var(--redorange);
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
}
.dropdowncontent a{
    text-align: center;
    font-size:1.3rem ;
    background-color: var(--lightgray);
}
.dropdowncontent a:hover {
   background-color: var(--orange);
   color: var(--darkgray);
}
@media (max-width:620px){
    .mainlinks {
        display: none;
    }
    .menu-button{
        display: block;
    }
}
/* 
--------------------------------------------------------------------------------------------
*/
.herosection{
    min-height: 550px;
    /* background-color:var(--lightgray); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutmecard{
    height: 420px;
    width: 360px;
    background-color: var(--darkgray);
    box-shadow: 0 7px 10px var(--lightgray);
    border-radius: 16px;
    transition: transform 0.5s;
    border: 2px solid var(--lightgray);
    padding: 1%;
}
.aboutme1stsection{
    height: 75%;
}
img{
    width: 150px;
    height: 150px;
    border: 2px solid var(--lightgray);
    border-radius: 18px;
    margin: 0 auto;
}
.aboutmehr{
    border: var(--redorange) 2px solid;
    height: 3px;
    margin: 5px 0;
}
.aboutmep{
    line-height: 120%;
    font-size: 110%;
}
.aboutme2ndsection{
    height: 25%;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    align-items: end;
}
.githublink{
    background-image: url(orangeGithub.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position:relative;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.githubtooltip{
    position: absolute;
    background-color: var(--orange);
    width: 80px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: -60%;
    font-size: 90%;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    border-radius: 10px;
    border: 2px solid var(--darkestgray);
    user-select: none;
}
.githublink:hover .githubtooltip{
    opacity: 1;
}
.mailink{
    background-image: url(gmail.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position:relative;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.mailtooltip{
    position: absolute;
    background-color: var(--orange);
    width: 80px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: -60%;
    font-size: 90%;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    border-radius: 10px;
    border: 2px solid var(--darkestgray);
    user-select: none;
}
.mailink:hover .mailtooltip{
    opacity: 1;
}
/* 
--------------------------------------------------------------------------------------------
*/
.titlesection{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
    font-size: 200%;
    /* background-color: var(--gray); */
    background-image: linear-gradient(to bottom ,var(--lightgray),var(--darkgray));
}
.titlesection hr{
    width: 90%;
    margin-top: 15px;
    height: 6px;
    background-color: var(--redorange);
    border: none;
}
/* 
--------------------------------------------------------------------------------------------
*/
main{
    min-height: 750px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 4px;
}
main section .mainsectionstitle{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem,2.5vw,3rem);
    /* color: var(--redorange); */
}
.mainsectionshr{
    height: 2px;
    width: 90%;
    border: 2px solid  var(--orange);
    /* box-shadow: 0 3px 6px var(--redorange); */
}
main section{
    /* background-color: var(--darkgray); */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    /* border-radius: 30px; */
    background-color: var(--darkgray);

}

.websitecard,.desktopappcard,.mobileappcard{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to left top,var(--darkgray),var(--lightgray));
    margin: 25px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightorange);
    font-size: 180%;
    font-weight: bold;
    box-shadow: 0 8px 5px var(--darkestgray);
    transition: transform 0.5s;
    position: relative;
}
.websitecard:hover,.desktopappcard:hover,.mobileappcard:hover{
    transform: scale(1.05);
}
@media (max-width:840px){
    main{
        margin: 0 auto;
        width: 70%;
        grid-template-columns: 1fr;
    }
    main section{
        margin: 10px auto ;
    }
}
@media (max-width:480px){
    main{
        width: 90%;
    }
}
/* 
--------------------------------------------------------------------------------------------
*/
footer{
    height: 200px;
    background-color: var(--darkgray);
    margin-top: 10px;
}