body{
    background-color: rgb(253, 146, 6);
    display: flex;
    width: 97%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.mainbox{
width: 65vh;
height: 65vh;
border: wheat 2px solid;
position: relative;
}
.head{
background-color: white;
width: 10vh;
height: 10vh;
border-radius: 100vh;  
position: absolute;
left: calc(50% - 5vh);
top: 10%;
border: 1px solid black;
}
.body{
width: 12vh;
height: 23vh;
background-color: white;
position: absolute;
left: calc(50% - 6vh);
top: 25.5%;
border-radius: 30% 30% 6vh 6vh;
border: 1px solid black;
}
.neck{
    background-color: white;
    width: 4vh;
    height: 2vh;
    position: absolute;
    left: calc(50% - 2vh);
    top: 24%;
    
}
.lefthand{
background-color: #fff;
width: 5.4vh;
height: 20vh;
position: absolute;
left: 39%;
top: 26%;
transform: rotate(38deg);
border: 1px solid black;
border-radius: 1.2vh;
border-top:#fff;
animation: lefth 2s infinite linear ;
}
.righthand{
    background-color: #fff;
    width: 5.4vh;
    height: 20vh;
    z-index: -1;
    position: absolute;
    left: 51%;
    top: 26%;
    transform: rotate(-38deg);
    border: 1px solid black;
    border-radius: 2vh;
    border-top:#fff;
    animation: righth 2s infinite linear;
}
.leftleg{
    background-color: #fff;
    border: 1px solid black;
    width: 5.4vh;
    height: 21.5vh;
    position: absolute;
    left: 56%;
    top: 56%;
    transform:rotate(-26deg);
    border-top: #fff;
    border-radius: 1.2vh;
    animation: leftl 2s infinite linear;
}
.rightleg{
    background-color: #fff;
    border: 1px solid black;
    width: 5.4vh;
    height: 21.5vh;
    position: absolute;
    z-index: -1;
    left: 37%;
    top: 56%;
    transform:rotate(26deg);
    border-radius: 2vh;
    animation: rightl 2s infinite linear;
}

@keyframes lefth {
    0%{
        left: 39%;
        transform: rotate(38deg);
    }
    50%{
        left: 52%;
        transform: rotate(-38deg);
    }
    100%{
        left: 39%;
        transform: rotate(38deg);
    }
}
@keyframes righth {
    0%{
        left: 51%;
        transform: rotate(-38deg);
    }
    50%{
        left: 39%;
        transform: rotate(38deg);
    }
    100%{
        left: 51%;
        transform: rotate(-38deg);
    }
}
@keyframes leftl {
    0%{
        left: 56%;
        transform: rotate(-26deg);
    }
    50%{
        left: 39%;
        transform: rotate(26deg);
    }
    100%{
        left: 56%;
        transform: rotate(-26deg);
    }
}
@keyframes rightl {
    0%{
        left: 37%;
        transform: rotate(26deg);
    }
    50%{
        left: 51%;
        transform: rotate(-26deg);
    }
    100%{
        left: 37%;
        transform: rotate(26deg);
    }
}
.street{
    z-index: -2;
    width: 100%;
    height: 20%;
    background-color: gray;
    position: absolute;
    top: 75%;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
}