:root{
    --maintextpurple: rgb(163, 100, 221);
    --maintextshadow: 0px 0px 6vh rgb(78, 21, 131);
    --shapespurple:rgb(182, 40, 187);
}
*{
    font-family: "Kanit", sans-serif;
}
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    margin: 0;
    padding: 0;
    background-image: url(starbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 220vh;
}
header{
    width: 80%;
    height: 29vh;
    margin: 1% 10% 0 10%;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2px);
    font-size: 14vh;
    text-align: center;
    color: var(--maintextpurple);
    text-shadow: var(--maintextshadow);
    border-radius: 1vh;   
}
main{
    width: 95%;
    height: 160vh;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(4px);
    box-shadow: var(--maintextshadow); 
    /* delete the shadow */
    margin: 12vh 2.5% 0 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3% 5%;
    padding: 5%;
    box-sizing: border-box;
}
.codes{
    width: 80%;
    height: 100%;
    background-color: #575757;
    border: rgb(146, 65, 146) 0.5vh solid;
}
.image{
    width: 100%;
    height: 50%;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.code{
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 100%;
    color: rgb(236, 190, 64);
}
.clippathtriangle{
    width: 12vh;
    height: 12vh;
    background-color: rgb(182, 40, 187);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.image-text{
    position: absolute;
    top: -2vh;
    left: 1vh;
    color: var(--maintextpurple);
    font-size: 3vh;
}
.clippathx{
    width: 12vh;
    height: 12vh;
    background-color:var(--shapespurple) ;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.rgb{
    width: 19vh;
    height: 8.5vh;
    position: relative;
    background-color: #807878;
    outline: none;
    border: none;

}
#image3{
    position: relative;
    z-index: -3;
}
#codes3{
z-index: -4;
}
@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
.rgb::after , .rgb::before{
--angle: 0deg;
content: "";
position: absolute;
width: 100%;
height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: -1;
padding: 0.3vh;
background-image: conic-gradient(from var(--angle), transparent 80%/*how much of the border is seen*/,blue);
animation: spin 3s infinite linear;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.rgb::before{
    filter: blur(1vh);
    opacity: 0.5;
}

#image4{
    position: relative;
    z-index: -3;
}
#codes4{
z-index: -4;
}
.rgb2{
    width: 19vh;
    height: 8.5vh;
    position: relative;
    background-color: #807878;
    outline: none;
    border: none;
}


@property --angle2{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.rgb2::after , .rgb2::before{
    --angle2: 0deg;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 0.3vh;
    background-image: conic-gradient(from var(--angle2),blue,red,blue);
    animation: spin2 3s infinite linear;
    }
    @keyframes spin2{
        from{
            --angle2: 0deg;
        }
        to{
            --angle2: 360deg;
        }
    }
    .rgb2::before{
        filter: blur(1vh);
        opacity: 0.5;
    }